.feed-wrapper {
    border-radius: 2px;
}

.feed-entry {
    border: grey 1px solid;
    padding: 10px;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}

.entry-content {
    margin-top: 10px;
}

.spinner-div {
    /* margin: 0 auto;
    width: 120px; */
}
