.feed-wrapper {
    border-radius: 2px;
}

.feed-entry {
    border: grey 1px solid;
    border-top: none;
    padding: 10px;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-entry:first-child {
    border-top: grey 1px solid;
}
.entry-content {
    margin-top: 10px;
}
